* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --font-family: "Sour Gummy", sans-serif;
  --dark-coffee: #c18a4f;
  --light-coffee: #f9e2ce;
  --medium-coffee: #edc29c;
  --bg-color: #f6f6ec;
  --font-text: 22px;
  --font-title: 48px;
}

html,
body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  background-color: var(--bg-color);
}

.nav-img__img {
  width: 180px;
  height: 180px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-coffee);
  font-size: var(--font-text);
  font-weight: 700;
  margin: 0 15px;
}

.hero {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 400px;
}

.hero-text {
  font-size: var(--font-title);
  color: var(--dark-coffee);
  font-weight: 700;
  font-style: normal;
  line-height: 48px;
  max-width: 200px;
  margin-left: 30px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lines {
  margin-top: 36px;
  width: 100%;
}

.line-1 {
  background-color: var(--dark-coffee);
  padding: 8px;
  text-align: center;
}

.line-2 {
  background-color: var(--medium-coffee);
  padding: 8px;
  text-align: center;
}

.info {
  margin-top: 48px;
  margin-bottom: 48px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-img {
  width: 400px;
}

.info-text {
  position: absolute;
  right: 740px;
  max-width: 200px;
  font-size: var(--font-title);
  font-weight: 700;
  color: var(--dark-coffee);
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-img-2 {
  position: absolute;
  right: 0;
  width: 300px;
}
